html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.container {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  background: #243457;
}
.topbar {
  background: #1c2842;
  margin: none;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-app-region: no-drag;
}
.navbar {
  background: #182238;
  margin: none;
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-app-region: drag;
  box-shadow: 10px 0 5px #19233a;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 100%;
  color: white;
  font-size: 15px;
}
.control-buttons {
  margin-left: auto;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 75px;
  -webkit-app-region: no-drag;
}
.control-button {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.control-button-maximize {
  background: linear-gradient(to right, #1de92e, #70c978);
}
.control-button-minimize {
  background: linear-gradient(to right, #ffd900, #ffd900);
}
.control-button-exit {
  background: linear-gradient(to right, #ff4800, #ff7c7c);
}

.dropbtn {
  -webkit-app-region: no-drag;
  background: none;
  color: white;
  border: none;
  padding: 15px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  font-size: 25px;
  cursor: pointer;
  height: 50px;
}
.dropbtn:hover, .dropbtn:focus {
  background: #2b3b5e;
}
.dropdown {
  position: relative;
  display: inline-block;
  height: 100%;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd}
.show {display: block;}